
body{
margin: 40px;
display:flex;
justify-content:center;   
align-items:flex-start;   
}


.container-fluid {
    margin-top: 20px;
    text-align: center;
    margin: auto;
    padding: 1rem;
    background-color: rgb(180, 176, 176);
    width: 800px; 
}

.input-group{
justify-content:center;
}



h2 {
    font-family: 'Arial', sans-serif;
    color: #343a40;
}


#todoInput {
    text-align: center;
    resize: none;
    border-radius: 10px;
    border: 1px solid #ced4da;
    padding: 0.5rem;
    font-size: 1rem;
    width: 300px;
}


#addButton {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#addButton:hover {
    background-color: rgb(4, 255, 4);
}


#todoList {
    margin-top: 1rem;
}

#todoList li {
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

#todoList li.completed {
    text-decoration: line-through;
    color: #6c757d;
}


    